body {
  margin: 0;
  padding: 0;
  background-color: #161616;
}

#particles-js {
  height: 100%;
  background: #070707;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#main {
  padding: 30px 0px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-size: 1330px;
  background-position: right bottom;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: #161616;
  background-image: linear-gradient(315deg,  #000000, #262b2c, #262b2c, #000000);
  font-weight: 600;
  letter-spacing: 2px;
  font-family: calibri;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 2px 45px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.menu {
  display: flex;
}
.menu li a {
  padding: 10px 15px;
  color: white;
  font-size: 12px;
}
.lang {
  color: #292929;
  filter: invert(1);
}
.logo {
  font-size: 25px;
  font-weight: bold;
  color: #292929;
  font-family: Poppins;
}
.toggle {
  display: none;
}

.menu li a:hover {
  background-color: black;
  border-radius: 10px;
  color: #fff !important;
  font-weight: bold;
  transition: all ease 0.4s;
}

.name {
  font-family: calibri;
  width: 500px;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20%, -50%);
}
.name p:nth-child(1),
.name .details {
  color: #6c707c;
  font-size: 16px;
}
.name h1 {
  font-family: Poppins;
  font-size: 40px;
  margin: 0px;
  letter-spacing: 3px;
  background: -webkit-linear-gradient(rgb(170, 163, 163), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.name h2 {
  margin-top: 0;
  font-size: 40px;
  letter-spacing: 1px;
  background: -webkit-linear-gradient(rgba(245, 245, 245, 0.89), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.name h3 {
  margin-bottom: 0;
  font-size: 21px;
  letter-spacing: 1px;
  color: #b0b0b0;
}
.name a {
  margin-top: 15px;
  width: 200px;
  height: 45px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  color: #ffffff;
  border-radius: 10px;
}
.name a:hover {
  background-color: rgb(226, 222, 222);
  color: black;
  transition: all ease 0.5s;
}
.black-line {
  align-self: end;
  width: 50%;
  height: 15%;
  margin-bottom: 4em;
  position: absolute;
  bottom: 0;
  left: -3%;
  border-right: 1px solid rgba(41, 41, 41, 0.3);
  filter: invert(1);
}

.black-line::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0 11px;
  border-color: #292929 transparent transparent transparent;
  right: -0.7em;
  bottom: -2px;
}

.social {
  position: absolute;
  left: 50px;
  bottom: 50px;
  display: flex;
}
.social a {
  margin: 6px 12px;
}
.social i {
  color: rgba(18, 17, 17, 0.4);
  font-size: 25px;
  filter: invert(2);
}
.social i:hover {
  color: #17d1ac;
  transition: all ease 0.5s;
}

#about {
  width: 100%;
  height: 100vh;
  background-color: #242323;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5% 0 5%;
  position: relative;
  margin-top: -70px;
}

.about-text {
  font-family: system-ui;
  width: 50%;
}
.about-text h1 {
  font-size: 4rem;
  color: #17d1ac;
}
.about-text h2 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 400;
}
.about-text h1,
h2 {
  margin: 0;
  padding: 0;
}
.about-text p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
}

/*
.about-text button {
  width: 180px;
  height: 40px;
  font-size: 0.9rem;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #17d1ac;
}
.about-text button:hover {
  background-color: #ffffff;
  cursor: pointer;
  transition: all ease 0.3s;
}
*/

#portfolio {
  width: 100%;
  box-sizing: border-box;
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 2% 20px 2%;
}

.p-heading {
  font-family: calibri;
  font-size: 1.7rem;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  padding: 10px 20px;
  background-color: #292929;
  border-radius: 10px;
  letter-spacing: 2px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}
.p-box {
  background-color: #1f1f1f;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.3);
  position: relative;
}
.p-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-container {
  width: 80%;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px;
}
.overlay-text {
  font-family: cursive;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(23, 209, 172, 0.8);
  display: none;
}
.overlay-text h1 {
  color: white;
  font-size: 2.2rem;
  margin: 0px;
  padding: 0px;
  letter-spacing: 2px;
}

.p-box:hover .overlay-text {
  display: flex;
}

#contact-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #f4f7ff;
  margin: 20px 0px;
  box-sizing: border-box;
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.4);
}
.c-b-heading {
  font-size: 2rem;
  color: #1e1e1e;
  font-family: calibri;
  margin: 10px;
  padding: 5px;
  letter-spacing: 4px;
  border-bottom: 2px solid #1e1e1e;
}
#contact-btn a{
  color: #ffffff;
  font-size: 1.1rem;
  font-family: calibri;
  text-align: center;
  width: 150px;
  height: 30px;
  padding: 7px;
  margin: 10px;
  background-color: #1e1e1e;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
}
#contact-btn a:hover {
  background-color: #17d1ac;
  color: #000000;
  transition: all ease 0.5s;
  font-weight: bold;
}

#contact-form {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-form form {
  display: flex;
  width: 70%;
  height: 60vh;
  background-color: #1a1a1a;
  box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.01);
}

.contact-left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-right {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
}
.contact-right button {
  width: 100%;
  height: 500px;
  background-color: #1ed98b;
  font-weight: bold;
  outline: none;
  border: none;
  margin: 0;
  color: #1b1b1b;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.c-l-heading {
  font-family: calibri;
  color: #1ed98b;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 400;
}
.f-name,
.f-email {
  display: flex;
  flex-direction: column;
  font-family: calibri;
}
.f-name font,
.f-email font {
  color: #bfbfbf;
  font-size: 22px;
}
.f-name input,
.f-email input {
  height: 30px;
  width: 250px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #929292;
  color: #ffffff;
  margin: 10px 0px;
}
.f-email input::placeholder,
.f-name input::placeholder {
  opacity: 0.5;
  letter-spacing: 1px;
}
.f-email input:focus,
.f-name input:focus {
  border-bottom: 1px solid #17d1ac;
  transition: all ease 0.5s;
}
.message font {
  font-size: 18px;
  color: #4e4e4e;
  font-family: calibri;
}
.message {
  margin: 20px;
}
.contact-right textarea {
  width: 100% !important;
  height: 300px;
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  color: #ebebeb;
  font-size: 16px;
}
.contact-right textarea::placeholder {
  color: #ebebeb;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: calibri;
}
.contact-right button:active {
  transform: scale(1.04);
  transition: all ease 0.1s;
}

@media (max-width: 1190px) {
  #main {
    background-size: 1150px;
  }
  .name {
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
  }
  .about-model img {
    height: 400px;
  }
  #contact-form form {
    width: 95%;
  }
}
@media (max-width: 970px) {
  #main {
    background-image: none;
  }
  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .about-model {
    display: none;
  }
  #about {
    justify-content: center;
    padding-top: 0px;
  }
  .about-text {
    width: 90%;
  }
  .about-text h1 {
    font-size: 4rem;
  }
  .contact-left,
  .contact-right {
    width: 100%;
    border: none;
  }
  textarea {
    background-color: #262626 !important;
    margin: 10px 0px;
    padding: 10px;
    height: 200px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .toggle {
    display: block;
  }
  .toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 0px;
    margin-left: -20px;
    cursor: pointer;
  }
  .toggle.active:before {
    content: "\f00d";
  }
  nav {
    padding: 10px 30px;
  }

  nav ul {
    position: absolute;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #131212;
    top: 50px;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
    display: none !important;
    border: 3px solid #1f1f1f;
    cursor: pointer;
  }

  nav ul li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff !important;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    padding: 0px !important;
  }
  nav ul {
    padding: 0px;
    margin: 0px;
  }
  .active-menu {
    display: block !important;
  }

  nav ul li a:hover {
    background-color: rgba(27, 29, 32, 0.15);
  }

  #portfolio {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    height: auto;
  }
  .p-heading {
    color: white;
  }
  .c-b-heading {
    font-size: 1.4rem;
    text-align: center;
  }
  #contact-form {
    padding: 20px;
    height: auto;
    box-sizing: border-box;
  }
  #contact-form form {
    flex-direction: column;
    height: auto;
    padding: 20px;
    width: 90%;
  }
  .contact-left,
  .contact-right {
    width: 100%;
    border: none;
  }

  .f-name,
  .f-email {
    width: 100%;
  }
  .f-name input,
  .f-email input {
    width: 100%;
    border: none;
    background-color: #262626 !important;
    padding: 10px;
    height: 40px;
  }
  textarea {
    background-color: #262626;
    margin: 10px 0px;
    padding: 10px;
    height: 200px;
    width: 100%;
  }
  .message {
    margin: 0px;
  }
  #contact-form form h1 {
    margin: 5px 0px;
  }
}

@media (max-width: 600px) {
  .p-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .c-b-heading {
    font-size: 1.2rem;
    text-align: center;
    margin: 0px 10%;
  }
  .name {
    width: 60%;
  }
  .black-line {
    margin-bottom: 20px;
  }
  .social {
    left: 30px;
    transform: translateX(-10px);
  }
  textarea {
    background-color: #262626;
    margin: 0;
    padding: 10px;
    width: 100%;
  }
  .contact-right button {
    height: 50px;
  }
}


